<app-menu></app-menu>
<div class="content">
  <div class="content-header-flex">
    <button (click)="showModal()" class="btn buttonCreate btn-primary">Přidání klienta/poradce</button>
    <button (click)="exportToCSV()" class="btn buttonCreate btn-warning">Export CSV</button>
  </div>
  
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>Jméno klienta</th>  
          <th>Přijmení</th>  
          <th>Email</th>  
          <th>Nástroje</th>  
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let clientData of clientsData">
        <td>
          <a href="clients/detail/{{ clientData.id }}">
            {{ clientData.firstName }}
          </a>
        </td>
        <td>{{ clientData.lastName }}</td>
        <td>{{ clientData.email }}</td>
        <td>
            <button class="btn btn-warning" (click)="editClient( clientData.id )">Edit</button> 
            &nbsp;
            <button class="btn btn-danger" (click)="removeClient( clientData.id )">Remove</button>
        </td>
      </tr>
    </tbody>  
  </table>  
</div>

<!-- The Modal for create Client/Adviser -->
<div id="myModal" class="modal" [style.display]="modalIsHidden ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Přidání klienta nebo poradce</h3>
      <span class="close" (click)="showModal()">&times;</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientForm" novalidate (ngSubmit)="onSubmit()">
        <label>Jméno: </label><br>
        <input type="text" required formControlName="firstName"><br>
      
        <label>Přijmení: </label><br>
        <input type="text" required formControlName="lastName"><br>
      
        <label>Email: </label><br>
        <input type="text" required formControlName="email"><br>
      
        <label>Mobil: </label><br>
        <input type="number" required formControlName="mobile"><br>
      
        <label>Rodné číslo: </label><br>
        <input type="text" required formControlName="rc"><br>
      
        <label>Věk: </label><br>
        <input type="number" required formControlName="age"><br>

        <label>Poradcový status: </label><br>
        <select formControlName="adviserStatus" required>
          <option value="1">Poradce</option>
          <option value="0">Klient</option>
        </select><br>
          
        <button class="btnSave btn btn-primary" type="submit">Vytvořit klienta/poradce</button>
      </form>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>

<!-- The Modal for update Client/Adviser -->
<div id="myModal" class="modal" [style.display]="modalUpdateIsHidden ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Úprava klienta</h3>
      <span class="close" (click)="hideModal()">&times;</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientUpdateForm" (ngSubmit)="saveData(editClientsData)">
        <label for="first-name">Jméno: </label><br>
        <input id="first-name" type="text" formControlName="firstName"><br>
      
        <label for="last-name">Přijmení: </label><br>
        <input id="last-name" type="text" formControlName="lastName"><br>
      
        <label for="last-name">Email: </label><br>
        <input id="last-name" type="text" formControlName="email"><br>
      
        <label for="last-name">Mobil: </label><br>
        <input id="last-name" type="number" formControlName="mobile"><br>
      
        <label for="last-name">Rodné číslo: </label><br>
        <input id="last-name" type="text" formControlName="rc"><br>
      
        <label for="last-name">Věk: </label><br>
        <input id="last-name" type="number" formControlName="age"><br>

        <label for="last-name">Poradcový status: </label><br>
        <select formControlName="adviserStatus">
          <option value="1">Poradce</option>
          <option value="0">Klient</option>
        </select><br>

        <button class="btnSave btn btn-primary" type="submit">Uložit data</button>
      </form>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
