<app-menu></app-menu>
<div class="content">

  <button (click)="showModal()" class="btn buttonCreate btn-primary">Přidat smlouvu</button>
  
  <table class="table table-striped">  
    <thead>  
      <tr>  
        <th>Evidenční číslo</th>  
        <th>Instituce</th>  
        <th>Klient</th>  
        <th>Datum uzavření</th>  
        <th>Nástroje</th>  
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let contractData of contractsData">
        <td>
          <a href="contract/detail/{{ contractData.id }}">
            {{ contractData.registration_number }}
          </a>
        </td>
        <td>{{ contractData.institution }}</td>
        <td>{{ contractData.client }}</td>
        <td>{{ contractData.date_closed }}</td>
        <td>
           <button class="btn btn-warning" (click)="editContract( contractData.id )"> Edit</button> 
           &nbsp;
           <button class="btn btn-danger" (click)="removeContract( contractData.id )">Remove</button>
        </td>
      </tr>
    </tbody>  
  </table>  
</div>
  
<!-- The Modal creating Contracts-->
<div id="myModal" class="modal" [style.display]="modalIsHidden ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Přidání smlouvy</h2>
      <span class="close" (click)="showModal()">&times;</span>
    </div>
    <div class="modal-body">
      <div style="width:50%">
        <form [formGroup]="contractForm" (ngSubmit)="addContract()">
          <label>Evidenční číslo: </label>
          <input type="text" formControlName="registrationNumber">
      
          <label>Instituce: </label>
          <select formControlName="institution">
            <option value="čsob">čsob</option>
            <option value="jaro">jaro</option>
            <option value="liška">liška</option>
          </select>
          
          <label>Klient: </label>
          <input type="text" formControlName="client">

          <label>Datum uzavření: </label>
          <input type="text" formControlName="dateClosed">
      
          <label>Datum platnosti: </label>
          <input type="text" formControlName="dateExpiration">
          
          <label>Datum ukončení: </label>
          <input type="text" formControlName="dateEnd">
   
          <label>Účastníci smlouvy: </label>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="contractMembers">
          </ng-multiselect-dropdown>

          <label>Správce smlouvy: </label>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="contractManager">
          </ng-multiselect-dropdown>
         
          <button type="submit">Přidat smlouvu</button>
        </form>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>


<!-- The Modal edit Contracts-->
<div id="myModal" class="modal" [style.display]="modalIsHidden1 ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Úprava smlouvy</h2>
      <span class="close" (click)="hideModal()">&times;</span>
    </div>
    <div class="modal-body">
      <div style="width:50%">
        <form [formGroup]="contractUpdateForm" (ngSubmit)="saveData(conctractsDataEdited)">
          <label>Evidenční číslo: </label>
          <input type="text" formControlName="registrationNumber">
      
          <label>Instituce: </label>
          <select formControlName="institution">
            <option value="čsob">čsob</option>
            <option value="jaro">jaro</option>
            <option value="liška">liška</option>
          </select>
          
          <label>Klient: </label>
          <input type="text" formControlName="client">

          <label>Datum uzavření: </label>
          <input type="text" formControlName="dateClosed">
      
          <label>Datum platnosti: </label>
          <input type="text" formControlName="dateExpiration">
          
          <label>Datum ukončení: </label>
          <input type="text" formControlName="dateEnd">
   
          <label>Účastníci smlouvy: </label>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="contractMembers">
          </ng-multiselect-dropdown>

          <label>Správce smlouvy: </label>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="contractManager">
          </ng-multiselect-dropdown>
         
          <button type="submit">Přidat smlouvu</button>
        </form>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>