<app-menu></app-menu>
<div class="content">
  <div class="content-header-flex items-end">
    <button (click)="exportToCSV()" class="btn buttonCreate btn-warning right">Export CSV</button>
  </div>
  <table class="table table-striped">  
    <thead>  
      <tr>  
        <th>Jméno poradce</th>  
        <th>Přijmení</th>  
        <th>Email</th>  
        <th>Nástroje</th>  
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let clientData of clientsData"><td>
        <a href="clients/detail/{{ clientData.id }}">{{ clientData.firstName }}</a></td>
        <td>{{ clientData.lastName }}</td>
        <td>{{ clientData.email }}</td>
        <td>
            <button class="btn btn-warning" (click)="editClient( clientData.id )">Edit</button> &nbsp;
            <button class="btn btn-danger"  (click)="removeClient( clientData.id )">Remove</button>
        </td>
      </tr>
    </tbody>  
  </table>  
</div>

<!-- The Modal for update Client/Adviser -->
<div id="myModal" class="modal" [style.display]="modalUpdateIsHidden ? 'block' : 'none'">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Přidání klienta nebo poradce</h2>
      <span class="close" (click)="hideModal()">&times;</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientUpdateForm" (ngSubmit)="saveData(editClientsData)">
        <label>Jméno: </label><br>
        <input type="text" formControlName="firstName"><br>
        
        <label>Přijmení: </label><br>
        <input type="text" formControlName="lastName"><br>
        
        <label>Email: </label><br>
        <input type="text" formControlName="email"><br>
        
        <label>Mobil: </label><br>
        <input type="number" formControlName="mobile"><br>
        
        <label>Rodné číslo: </label><br>
        <input type="text" formControlName="rc"><br>
        
        <label>Věk: </label><br>
        <input type="number" formControlName="age"><br>

        <label>Poradcový status: </label><br>
        <select formControlName="adviserStatus">
          <option value="1">Poradce</option>
          <option value="0">Klient</option>
        </select><br>
            
        <button class="btn btn-primary btnSave" type="submit">Update Data</button>
      </form>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>